<!DOCTYPE html>
<html lang="en">
{% include "furart/index_header.html" %}
<body>
	{% include "furart/index_navbar.html" %}



	<div class="container">
		<div class="row">
			{% if errors %}
			<ul>
				{% for error in errors %}
				<li>{{ error }}</li> {% endfor %}
			</ul>
			{% endif %}
			<form action="" method="get">
				<select name="q">
					<option value="A">A</option>
					<option value="B">B</option>
				</select> <input type="submit" value="Search">
			</form>
			<p>
				You searched for: <strong>{{ query }}</strong>
			</p>
			{% if activitys %}
			<p>Found {{ activitys|length }} activity{{ activitys|pluralize
				}}.</p>
			<ul>
				{% for activity in activitys %}
				<li><a href="/furart/activity/{{ activity.id }}/">{{ activity.title }} {{ activity.location }}</a></li> {% endfor %}
			</ul>
			{% else %}
			<p>No activitys matched your search criteria.</p>
			{% endif %}
		</div>
	</div>


	{% include "furart/index_footer.html" %}
</body>
</html>









<!-- 
<title>Search</title>
</head>
<body>
	{% if errors %}
	<ul>
		{% for error in errors %}
		<li>{{ error }}</li> {% endfor %}
	</ul>
	{% endif %}


	<form action="" method="get">
		<select name="q">
			<option value="A" >A</option>
			<option value="B" >B</option>
		</select> 
		
		<input type="submit" value="Search">
	</form>



	<p>
		You searched for: <strong>{{ query }}</strong>
	</p>

	{% if activitys %}
	<p>Found {{ activitys|length }} activity{{ activitys|pluralize }}.</p>
	<ul>
		{% for activity in activitys %}
		<li>{{ activity.title }} {{ activity.location }}</li> {% endfor %}
	</ul>
	{% else %}
	<p>No activitys matched your search criteria.</p>
	{% endif %}

</body>
</html> -->