<!DOCTYPE html>
<html lang="en">
{% include "furart/index_header.html" %}
<body>
	{% include "furart/index_navbar.html" %}



	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span2">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Type</li>
						<li class="active"><a
							href="/furart/events/{{ timerange }}-all-all/">All Type</a></li>
						<li><a href="/furart/events/{{ timerange }}-Type1-all/">Type1</a></li>
						<li><a href="/furart/events/{{ timerange }}-Type2-all/">Type2</a></li>
						<li><a href="/furart/events/{{ timerange }}-Type2-all/">Type3</a></li>
					</ul>
				</div>
			</div>
			<!--/span-->


			<div class="span9">
				{% if errors %}
				<ul>
					{% for error in errors %}
					<li>{{ error }}</li> {% endfor %}
				</ul>
				{% endif %}

				<form name="nav">
					<select name="SelectURL"
						onChange="document.location.href=
document.nav.SelectURL.options[document.nav.SelectURL.selectedIndex].value">
						<option value="/furart/events/all-{{ activity_type }}-all}/">All</option>
						<option value="/furart/events/today-{{ activity_type }}-all/">Today</option>
						<option value="/furart/events/tomorrow-{{ activity_type }}-all/">Tomorrow</option>
						<option value="/furart/events/week-{{ activity_type }}-all/">This
							week</option>
						<option value="/furart/events/month-{{ activity_type }}-all/">This
							month</option>
					</select>
				</form>




				<p>
					You searched for: <strong>{{ activity_type }}</strong>
				</p>
				{% if activitys %}
				<p>Found {{ activitys|length }} activity{{activitys|pluralize}}.</p>
				<ul>
					{% for activity in activitys %}
					<li><a href="/furart/activity/{{ activity.id }}/">{{activity.title}}
							{{ activity.location }}</a></li> {% endfor %}
				</ul>
				{% else %}
				<p>No activitys matched your search criteria.</p>
				{% endif %}

			</div>
		</div>
	</div>


	{% include "furart/index_footer.html" %}
</body>
</html>