<div class="container">
	<hr>
	<footer>
		<p>&copy; Company 2013</p>
	</footer>

	<!-- javascript
       ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>


	<script>
		$(function() {
			$("#datepicker").datepicker();
		});
	</script>
</div>
