<!DOCTYPE html>
<html lang="en">

  {% include "furart/signup_header.html" %}

  <body>

    {% include "furart/signup_navbar.html" %}
    
    <div class="container">

      <form action="{% url 'signup' %}" method="POST" class="form-signin">
	{% csrf_token %}
        <h2 class="form-signin-heading">Please sign up</h2>	
	<!-- {{ form.as_table }} -->


	
	

	{{ form.non_field_errors }}
	<div class="input-block-level">
          {{ form.username.errors }}
            <label>Username:</label>
          {{ form.username }}
	</div>
	<div class="input-block-level">
          {{ form.email.errors }}
          <label>Email:</label>	  
          {{ form.email }}
	</div>
	<div class="input-block-level">
          {{ form.password.errors }}
          <label>Password:</label>
          {{ form.password }}
	</div>
	<div class="input-block-level">
          {{ form.confirm_password.errors }}
          <label>Confirm Password:</label>	  
          {{ form.confirm_password }}
	</div>
	<!-- <input type="text" class="input-block-level" placeholder="User name" name="username"> -->
        <!-- <input type="text" class="input-block-level" placeholder="Email address" name="email"> -->
        <!-- <input type="password" class="input-block-level" placeholder="Password" name="password"> -->
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign up</button>
      </form>

    </div> <!-- /container -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
  </body>
</html>
